@tailwind base;
@tailwind components;

@layer base {
    :root {
        --color-textBase: #02010A;
        --color-primary: #ececec;
        --color-secondary: #EC9A29;
        --color-secondaryTwo: #E5446D;
        --color-secondaryThree: #F97265;
        --color-accent: #05a8aa;
        --color-accentTwo: #2D898B;
        --color-accentThree: #1D6371;
    }

    .dark {
        --color-textBase: #ececec;
        --color-primary: #02010A;
    }
}



@tailwind utilities;

