@tailwind base;
@tailwind components;

@layer base {
    :root {
        --color-textBase: #02010A;
        --color-primary: #ececec;
        --color-secondary: #746f72;
        --color-accent: #05a8aa;
        --color-darkerAccent: #2D898B;
    }

    .dark {
        --color-textBase: #ececec;
        --color-primary: #02010A;
        --color-secondary: #746f72;
        --color-accent: #05a8aa;
        --color-darkerAccent: #2D898B;
    }
}



@tailwind utilities;

